{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}
{% set companyName  = trans("Ceres::Template.headerCompanyName") %}
{% set useMegaMenu  = config("Ceres.header.megamenu_levels") > 1 %}

<nav class="navbar header-fw p-0 border-bottom{% if useMegaMenu %} megamenu{% else %} normalmenu{% endif %}">
    <div class="container-max d-block">
        <div class="row mx-0 position-relative d-flex">

            <div class="main-navbar-collapsable d-none d-lg-block" id="mainNavbarCollapsable">
                {% if showHeaderNavBar == "top" or showHeaderNavBar == "both" or not services.template.isCategory() %}
                    {% include "Ceres::PageDesign.Partials.Header.NavigationList" %}



                    <div id="search-toggle">
                        <i class="ae-icon-magnifier"></i>
                        <i class="ae-icon-cross-circle"></i>
                    </div>
                {% endif %}
            </div>

        </div>
    </div>
</nav>

